APP_NAME=WorkitPT
NODE_ENV=development
APP_URL=http://localhost:8000
APP_HOST=localhost
APP_PORT=8000
ALLOWED_ORIGIN=http://localhost:3000
ORIGIN_REGEX=
MORGAN_LEVEL=dev

QUERY_TOKEN=replace-with-local-dev-query-token
HEADER_TOKEN=replace-with-local-dev-header-token

MAX_IMG_SIZE=2

MONGO_URI=mongodb://localhost:27017/workitpt
MONGO_STRICT_DB=false

JWT_ACCESS_SECRET=replace-with-long-random-secret
JWT_ISSUER=WorkItPT
JWT_ACCESS_EXPIRY=1d

MAIL_USER=
MAIL_PASS=
MAIL_HOST=
MAIL_PORT=587
MAIL_TOKEN_TTL=600
MAIL_FROM=
MAIL_DEBUG=false
MAIL_LOG=false
MAIL_RECEIVER=

STRIPE_PUBLIC_KEY=pk_test_replace_me
STRIPE_SECRET_KEY=sk_test_replace_me
SERVICE_CHARGE=0
LESSTHAN_3500=0
BETWEEN_3500_75000=0
BETWEEN_7500_10500=0
OVER_10500=0

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=
FACEBOOK_BASE_URI=
FACEBOOK_GRAPH_URL=https://graph.facebook.com/v13.0/me

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_BASE_URI=
GOOGLE_API_VERSION=
GOOGLE_API_URL=https://www.googleapis.com/oauth2/v3/userinfo

NOTIFICATION_TTL=24
NOTIFICATION_PRIORITY=high
NOTIFICATION_SOUND=default
NOTIFICATION_BADGE=1

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
